{% for child in children %}
  {% if child['is_dir'] %}
    <li>
      <div class="folder-header">
        <button class="tree-folder-toggle"></button>
        <span class="folder-icon">📁</span>
        {{ child['name'] }}
      </div>
      {% if child['children'] %}
        <ul>
          {% module items(children=child['children']) %}
        </ul>
      {% end %}
    </li>
  {% else %}
    <li>
      <a href="/download?filename={{ child['path'] }}">{{ child['name'] }}</a>
    </li>
  {% end %}
{% end %}
